{% extends 'base.html' %} {% block conteudo %}

<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1 class="display-4">Oi, tudo bem?</h1>
      <p class="lead">Seja bem-vindo ao sistema de gestão de atendimento clínico.</p>
      <hr class="my-4">
      <p>Conheça abaixo as opções do sistema.</p>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="card" style="width: 18rem;">
      <img src="http://www.clinicalgarve.com/Content/Img/Medicos/Medico_23.png?version=636886960377016100" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Pacientes</h5>
        <p class="card-text"> Gerencie o cadastro dos clientes na sua clínica</p>
        <a href="/atendimento/paciente" class="btn btn-primary">Go</a>
      </div>
    </div>

  </div>
  <div class="col-lg-3">
    <div class="card" style="width: 18rem;">
      <img src="http://www.clinicalgarve.com/Content/Img/Medicos/Medico_23.png?version=636886960377016100" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Médicos</h5>
        <p class="card-text"> Gerencie os proficionais que atendem na sua clínica</p>
        <a href="/atendimento/medico" class="btn btn-primary">Go</a>
      </div>
    </div>

  </div>
  <div class="col-lg-3">
    <div class="card" style="width: 18rem;">
      <img src="http://www.clinicalgarve.com/Content/Img/Medicos/Medico_23.png?version=636886960377016100" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Agendamentos</h5>
        <p class="card-text"> Agende consultas com os médicos de acordo com a escala.</p>
        <a href="/atendimento/agendamento" class="btn btn-primary">Go</a>
      </div>
    </div>

  </div>
  <div class="col-lg-3">
    <div class="card" style="width: 18rem;">
      <img src="http://www.clinicalgarve.com/Content/Img/Medicos/Medico_23.png?version=636886960377016100" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Consultas</h5>
        <p class="card-text"> Os médicos podem atender os pacientes e registrar o atendimento.</p>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>


  {% endblock %}